﻿@using gestionmateriales.Models
@model ComprasViewModels
@{
    ViewBag.Title = "AprobarOP";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Aprobar Orden de Pedido</h2>
        </div>
    </div>
    <h5>Aprueba determinada orden de pedido</h5>
    <hr />
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orden de Pedido</h3>
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("AprobarOP", "Compras", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.fechaInicio, "Fecha inicio", new { @class = " col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.fechaInicio, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date", autofocus = "true" } })
                            </div>
                            @Html.LabelFor(model => model.fechaFin, "Fecha fin", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fechaFin, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="reset" class="btn btn-default btn-block" value="Limpiar" data-toggle="tooltip" data-placement="right" title="Vacia todos los campos del formulario" />
                        </div>
                        <div class="col-md-offset-3 col-md-3">
                            <input type="submit" class="btn btn-primary btn-block" value="Buscar Ordenes de Pedido" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>