﻿@model IEnumerable<gestionmateriales.Models.GestionMateriales.Material>
@{
    ViewBag.Title = "Material";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Gestión de Compras</h2>
        </div>
    </div>
    <h5>Materiales o herramientas sin stock o por debajo del punto de reposición.</h5>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_materiales" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Material
                        </th>

                        <th>
                            Stock Actual
                        </th>
                        <th>
                            Stock Mínimo
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Proveedor
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockActual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockMinimo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.proveedor.nombre)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                var fecha = new Date();
                var timestamp = fecha.getDate() + "-" + fecha.getMonth() + "-" + fecha.getFullYear() + " " + fecha.getHours() + "." + fecha.getMinutes();
                $(document).ready(function () {
                    $('#tabla_materiales').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'pdf',
                                filename: 'listadoCompras-' + timestamp
                            },
                            {
                                extend: 'excel',
                                filename: 'listadoCompras-' + timestamp
                            }
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>

