﻿@model IEnumerable<gestionmateriales.Models.GestionMateriales.Material>
@{
    ViewBag.Title = "Material";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Gestión de Materiales</h2>
        </div>
    </div>
    <h5>Materiales o herramientas utilizadas para taller o reparaciones edilicias.</h5>
    <hr />
    <div class="col-md-3">
        <a id="btn_agregarmaterial" class="btn btn-primary btn-block" href="~/Material/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agrega materiales o herramientas utilizadas para taller o reparaciones edilicias"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Nuevo Material</a>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_materiales" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Material
                        </th>
                       
                        <th>
                            Stock Actual
                        </th>
                        <th>
                            Stock Mínimo
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-pencil" aria-hidden=true></span>
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-trash" aria-hidden=true></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockActual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.stockMinimo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estado)
                            </td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#myModal-ver-@item.idMaterial">Ver</a>

                                <div class="modal fade" id="myModal-ver-@item.idMaterial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Material</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-6">
                                                    <p><strong>Código:</strong> @item.codigo</p>
                                                    <p><strong>Material:</strong> @item.nombre</p>
                                                    <p><strong>Tipo:</strong> @item.tipoMaterial.nombre</p>
                                                    <p><strong>Unidad:</strong> @item.unidad.nombre</p>
                                                    <p><strong>Proveedor:</strong> @item.proveedor.nombre</p>
                                                </div>
                                                <div class="col-md-offset-6">
                                                    <p><strong>Stock Actual:</strong> @item.stockActual</p>
                                                    <p><strong>Stock Mínimo:</strong> @item.stockMinimo</p>
                                                    <p><strong>Estado del Stock:</strong> @item.estado</p>
                                                    <p><strong>Detalle:</strong> @item.detalle</p>
                                                </div>
                                                <br />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.ActionLink("Historial", "Historial", new { id = item.idMaterial, cod = item.codigo, name = item.nombre })
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.idMaterial })
                            </td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#myModal-@item.idMaterial">Borrar</a>

                                <div class="modal fade" id="myModal-@item.idMaterial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Borrar Material</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Desea borrar el siguiente material del sistema?</p>
                                                <p><strong>Código:</strong> @item.codigo</p>
                                                <p><strong>Material:</strong> @item.nombre</p>
                                                <p><strong>Stock Actual:</strong> @item.stockActual</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="~/Material/Borrar/@item.idMaterial" type="button" class="btn btn-danger">Aceptar</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                $('#tabla_materiales').DataTable();
                $('#btn_agregarmaterial').tooltip();
            </script>
        </div>
    </div>
</div>
