﻿
@{
    ViewBag.Title = "Ayuda";
}

<div id="page-wrapper">
    <br>
    <div class="container">
        <h1>Ayuda</h1>
        <hr />
        <div class="list-group">
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Documentos</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus leo in erat convallis, at viverra libero hendrerit. Mauris pretium libero non nulla pharetra commodo eu sed nisl. Curabitur suscipit non nisl sed scelerisque. Suspendisse et sodales turpis, in mollis turpis. Pellentesque pretium ut quam eu rhoncus. Proin sed ornare justo. Mauris tempus justo eget luctus malesuada. Proin pharetra lectus sit amet pretium dapibus. Ut quis luctus justo. Proin dui mi, porta in sapien eu, ultrices vestibulum turpis. Morbi elementum sem quis lacus interdum, vel convallis nisl cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Mauris molestie aliquam nibh vel porttitor. Pellentesque dapibus, diam eget feugiat consequat, diam felis varius odio, ut consectetur velit ante vel lectus. In quis orci rutrum, sollicitudin augue et, finibus orci.</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Materiales</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus leo in erat convallis, at viverra libero hendrerit. Mauris pretium libero non nulla pharetra commodo eu sed nisl. Curabitur suscipit non nisl sed scelerisque. Suspendisse et sodales turpis, in mollis turpis. Pellentesque pretium ut quam eu rhoncus. Proin sed ornare justo. Mauris tempus justo eget luctus malesuada. Proin pharetra lectus sit amet pretium dapibus. Ut quis luctus justo. Proin dui mi, porta in sapien eu, ultrices vestibulum turpis. Morbi elementum sem quis lacus interdum, vel convallis nisl cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Mauris molestie aliquam nibh vel porttitor. Pellentesque dapibus, diam eget feugiat consequat, diam felis varius odio, ut consectetur velit ante vel lectus. In quis orci rutrum, sollicitudin augue et, finibus orci.</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Pedidos</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus leo in erat convallis, at viverra libero hendrerit. Mauris pretium libero non nulla pharetra commodo eu sed nisl. Curabitur suscipit non nisl sed scelerisque. Suspendisse et sodales turpis, in mollis turpis. Pellentesque pretium ut quam eu rhoncus. Proin sed ornare justo. Mauris tempus justo eget luctus malesuada. Proin pharetra lectus sit amet pretium dapibus. Ut quis luctus justo. Proin dui mi, porta in sapien eu, ultrices vestibulum turpis. Morbi elementum sem quis lacus interdum, vel convallis nisl cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Mauris molestie aliquam nibh vel porttitor. Pellentesque dapibus, diam eget feugiat consequat, diam felis varius odio, ut consectetur velit ante vel lectus. In quis orci rutrum, sollicitudin augue et, finibus orci.</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Proveedores</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus leo in erat convallis, at viverra libero hendrerit. Mauris pretium libero non nulla pharetra commodo eu sed nisl. Curabitur suscipit non nisl sed scelerisque. Suspendisse et sodales turpis, in mollis turpis. Pellentesque pretium ut quam eu rhoncus. Proin sed ornare justo. Mauris tempus justo eget luctus malesuada. Proin pharetra lectus sit amet pretium dapibus. Ut quis luctus justo. Proin dui mi, porta in sapien eu, ultrices vestibulum turpis. Morbi elementum sem quis lacus interdum, vel convallis nisl cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Mauris molestie aliquam nibh vel porttitor. Pellentesque dapibus, diam eget feugiat consequat, diam felis varius odio, ut consectetur velit ante vel lectus. In quis orci rutrum, sollicitudin augue et, finibus orci.</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Personal</h4>
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus leo in erat convallis, at viverra libero hendrerit. Mauris pretium libero non nulla pharetra commodo eu sed nisl. Curabitur suscipit non nisl sed scelerisque. Suspendisse et sodales turpis, in mollis turpis. Pellentesque pretium ut quam eu rhoncus. Proin sed ornare justo. Mauris tempus justo eget luctus malesuada. Proin pharetra lectus sit amet pretium dapibus. Ut quis luctus justo. Proin dui mi, porta in sapien eu, ultrices vestibulum turpis. Morbi elementum sem quis lacus interdum, vel convallis nisl cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Mauris molestie aliquam nibh vel porttitor. Pellentesque dapibus, diam eget feugiat consequat, diam felis varius odio, ut consectetur velit ante vel lectus. In quis orci rutrum, sollicitudin augue et, finibus orci.</p>
            </a>
        </div>
    </div>
</div>
