﻿@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
    <title>Login - OT</title>
    <link href="~/Scripts/Semantic/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Semantic/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Semantic/pandoc-code-highlight.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Semantic/semantic.min.js"></script>
</head>
<body>
        @RenderBody()
</body>
</html>