﻿@model gestionmateriales.Models.GestionMateriales.OrdenTrabajo
@{
    ViewBag.Title = "Orden de Trabajo";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Crear Orden de Trabajo de Aplicación</h2>
        </div>
    </div>
    <h5>Genera una nueva orden de trabajo de aplicación.</h5>
    <hr />
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orden de Trabajo de Aplicación</h3>
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("Agregar", "OrdenTrabajo", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.numero, "Número", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control", min = 1, autofocus="true", required = "true" } })
                            </div>
                            @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 70, required = "true" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Turno, "Turno", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.DropDownList("idTurno", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.responsable, "Responsable", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownList("idResponsable", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(model => model.jefeSeccion, "Jefe de Sección", new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownList("idJefeSeccion", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="reset" class="btn btn-default btn-block" value="Limpiar" />
                            </div>
                            <div class="col-md-offset-3 col-md-3">
                                <input type="submit" class="btn btn-primary btn-block" value="Agregar Materiales" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-default btn-block" onclick="location.href='Index'" value="Cancelar" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.Result == 1)
            {
                <script type="text/javascript">
                    $.notify.defaults({ globalPosition: 'bottom rigth' });
                    $.notify(
                        "El número de orden de trabajo ya existe, verifique el valor",
                        "error",
                        {
                            position: "right bottom",
                            globalPosition: "right bottom"
                        }
                    );
                </script>
            }
        </div>
    </div>
</div>

