﻿@model IEnumerable<gestionmateriales.Models.GestionMateriales.OrdenTrabajo>
@{
    ViewBag.Title = "OrdenTrabajo";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Ordenes de Trabajo de Aplicación</h2>
        </div>
    </div>
    <h5>Ordenes de trabajo ingresadas.</h5>
    <hr />
    <div class="col-md-3">
        <a id="btn_nuevarordentrabajo" class="btn btn-primary btn-block" href="~/OrdenTrabajo/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Genera una nueva orden de trabajo de aplicación"> Nueva Orden de Trabajo</a>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_ordenpedido" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Número
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Turno
                        </th>
                        <th>
                            Orden de Trabajo
                        </th>
                        <th>
                            Responsable
                        </th>
                        <th>
                            Jefe de Sección
                        </th>
                        <th>
                            #Items
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-pencil" aria-hidden=true></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.numero)
                            </td>
                            <td>
                                @item.fecha.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Turno.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.responsable.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.jefeSeccion.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.itemsOT.Count)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.idOrdenTrabajo, nro = item.numero, name = item.nombre })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                $('#tabla_ordenpedido').DataTable();
                $('#btn_nuevarordentrabajo').tooltip();
            </script>
        </div>
    </div>
</div>