﻿@model gestionmateriales.Models.GestionMateriales.OrdenPedido
@{
    ViewBag.Title = "Orden de Pedido";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="container">
            <h2>Crear Orden de Pedido</h2>
        </div>
    </div>
    <h5>Genera una nueva orden de pedido</h5>
    <hr />
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Orden de Pedido</h3>
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("Agregar", "OrdenPedido", FormMethod.Post))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.numOp, "Nro Orden de Pedido", new { @class = " col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.numOp, new { htmlAttributes = new { @class = "form-control", min = 1, max = 999999, autofocus = "true", maxlength = 6, required = "true" } })
                            </div>
                            @Html.LabelFor(model => model.fecha, "Fecha", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", required = "true", type = "date" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.numOt, "Nro Orden de Trabajo", new { @class = "col-md-2 control-label" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.numOt, new { htmlAttributes = new { @class = "form-control", min = 0, max = 999999, maxlength = 6 } })
                            </div>
                            @Html.LabelFor(model => model.destino, "Destino", new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.TextAreaFor(model => model.destino, new { @class = "form-control", @cols = 80, @rows = 3, maxlength = 150, required = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="reset" class="btn btn-default btn-block" value="Limpiar" data-toggle="tooltip" data-placement="right" title="Vacia todos los campos del formulario" />
                            </div>
                            <div class="col-md-offset-3 col-md-3">
                                <input type="submit" class="btn btn-primary btn-block" value="Agregar Materiales" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn btn-default btn-block" onclick="location.href='Index'" value="Cancelar" data-toggle="tooltip" data-placement="right" title="Regresa a la pantalla anterior" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (ViewBag.Result == 1)
            {
                <script type="text/javascript">
                    $.notify.defaults({ globalPosition: 'bottom rigth' });
                    $.notify(
                        "El número de orden de pedido ya existe, verifique el valor",
                        "error",
                        {
                            position: "right bottom",
                            globalPosition: "right bottom"
                        }
                    );
                </script>
            }
        </div>
    </div>
</div>

