﻿@model IEnumerable<gestionmateriales.Models.GestionMateriales.OrdenPedido>
@{
    ViewBag.Title = "Orden de Pedido";
}

<div id="page-wrapper">
    <br/>
    <div class="row">
        <div class="container">
            <h2>Ordenes de Pedidos</h2>
        </div>
        </div>
        <h5>Ordenes de pedido ingresadas.</h5>
    <hr />
    <div class="col-md-3">
        <a id="btn_CrearOrdenPedido" class="btn btn-primary btn-block" href="~/OrdenPedido/Agregar" role="button" data-toggle="tooltip" data-placement="right" title="Agregar nueva orden de pedido">Nueva Orden de Pedido</a>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tabla_ordenPedido" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            Nro Ord. Pedido
                        </th>
                        <th>
                            Nro Ord. Trabajo
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Destino
                        </th>
                        <th>
                            #items
                        </th>
                        <th>
                            <span class="glyphicon glyphicon-pencil" aria-hidden=true></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.numOp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numOt)
                            </td>
                            <td>
                                @item.fecha.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.destino)
                            </td>
                            <td>
                                @item.itemsOP.Count
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar", new { id = item.idOrdenPedido})
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
    <script type="text/javascript">
        $('#tabla_ordenPedido').DataTable();
        $('#btn_CrearOrdenPedido').tooltip();
    </script>
            </div>
    </div>
</div>