﻿@model gestionmateriales.Models.GestionMateriales.Salida
@{
    ViewBag.Title = "Stock";
}

<div id="page-wrapper">
    <br />
    <div class="container">
        <h1>Restar Material</h1>
        <hr />
        <div class="col-sm-offset-2 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restar Material</h3>
                </div>
                <div class="panel-body">
                    @using (@Html.BeginForm("Restar", "Material", FormMethod.Post))
                    {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Personal, "Cantidad", new { @class = "label-control" })
                                @Html.EditorFor(model => model.Personal, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Material, "Código", new { @class = "label-control" })
                                @Html.EditorFor(model => model.Material, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.cantidad, "Cantidad", new { @class = "label-control" })
                                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", title = "Solo se admiten letras.", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$" } })
                            </div>
                            <div class="row">
                            <div class="col-xs-6 col-md-8">
                                <input type="reset" class="btn btn-default" value="Limpiar" />
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <input type="submit" class="btn btn-primary" value="Aceptar" />
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <input type="button" class="btn btn-default" onclick="location.href='Index'" value="Cancelar" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>