﻿@model gestionmateriales.Models.GestionMateriales.Personal
@{
    ViewBag.Title = "Personal";
}

<div id="page-wrapper">
    <div class="container">
        <br />
        <div class="row">
            <div class="container">
                <h2>Gestión de Personal</h2>
            </div>
        </div>
        <h5>Agregar nuevo personal para solicitar y/o retirar materiales.</h5>
        <hr />
        <div class="col-sm-offset-2 col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Información personal</h3>
                </div>
                <div class="panel-body">
                    @using (@Html.BeginForm("Agregar", "Personal", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, "Nombre y Apellido", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 45, required = "true", autofocus = "true", title = "Solo se admiten letras.", placeholder = "Juan Perez", pattern = "^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fichaCensal, "Ficha Censal", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.fichaCensal, new { htmlAttributes = new { @class = "form-control", min = 100000, max = 999999, maxlength = 6, placeholder= "243154", required = "true" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.dni, "DNI", new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", min = 10000000, max = 99999999, maxlength = 8, placeholder = "44243154", required = "true" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input id="btn_limpiar" type="reset" class="btn btn-default btn-block" value="Limpiar" data-toggle="tooltip" data-placement="left" title="Vacia los campos del formulario" />
                                </div>
                                
                                <div class="col-md-offset-3 col-md-3">
                                    <input id="btn_aceptar" type="submit" class="btn btn-primary btn-block" value="Aceptar" data-toggle="tooltip" data-placement="bottom" title="Confirma la operación" />
                                </div>

                                <div class="col-md-3">
                                    <input id="btn_cancelar" type="button" class="btn btn-default btn-block" onclick="location.href='Index'" value="Cancelar" data-toggle="tooltip" data-placement="right" title="Regresa a la pantalla anterior" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.Result == 0)
            {
                <script type="text/javascript">
                    $('#nombre').val('');
                    $('#fichaCensal').val('');
                    $('#dni').val('');
                    $.notify.defaults({ globalPosition: 'bottom rigth' });
                    $.notify(
                        "Los datos se guardaron con éxito",
                        "success",
                        {
                            position: "right bottom",
                            globalPosition: "right bottom"
                        }
                    );
                </script>
            }
            @if (ViewBag.Result == 1)
            {
                <script type="text/javascript">
                    $.notify.defaults({ globalPosition: 'bottom rigth' });
                    $.notify(
                        "El DNI o Ficha Censal ya existe, verifique el valor",
                        "error",
                        {
                            position: "right bottom",
                            globalPosition: "right bottom"
                        }
                    );
                </script>
            }
            <script type="text/javascript">
                $('#btn_limpiar').tooltip();
                $('#btn_aceptar').tooltip();
                $('#btn_cancelar').tooltip();
            </script>
        </div>
    </div>
</div>

